* {
    font-family: 'sans-serif';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    /* Color for body and nav bar */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --housebar-color:#695CFE;
    --text-color: #707070;
    --main-text-color: #000000;
    --main-lead-color: #000000;
    --second-body-color: #f4f9f9;
    --quiz-timer-color: #F5F5F5;
    --quiz-bar-color: #B7A7FF;
    --quiz-container-color: #F5F5F5;

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    background: var(--body-color);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: var(--tran-05);
}

/* Auto change to dark */
body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --housebar-color:#FFF;
    --text-color: #CCC;
    --main-text-color: #E4E5EB;
    --main-lead-color: #E4E5EB;
    --second-body-color: #303030;
    --quiz-timer-color: #0000;
    --quiz-bar-color: #9B8CFF;
    --quiz-container-color: #141414;
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar header{
    position: relative;
}

.sidebar.close{
    width: 88px;
}

.sidebar span{
    font-size: 25px;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar header .text .header-textside{
    display: flex;
    align-items: center;
}

header .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .tieude1{
    font-weight: 600;
}

.header-text .tieude2{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    mask-image: url(./icons/menu-svgrepo-com.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    height: 35px;
    width: 35px;
    background: var(--housebar-color);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar li .icon{
    min-width: 60px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li .icon,
.menu-bar .mode .icon {
    width: 40px;
    height: 40px;
    background-color: var(--text-color);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: var(--tran-02);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon{
    background: var(--sidebar-color);
}

.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon{
    background: var(--text-color);
}

body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .icon{
    position: absolute;
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode .sun{
    opacity: 0;
}

body.dark .menu-bar .mode .sun{
    opacity: 1;
}

body.dark .menu-bar .mode .moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 25px;
}

.icon.house{
    mask-image:url(./icons/home-4-svgrepo-com.svg);
}

.icon.trophy{
    mask-image:url(./icons/trophy-svgrepo-com.svg);
}

.icon.book{
    mask-image:url(./icons/book-svgrepo-com.svg);
}

.icon.moon{
    mask-image:url(./icons/moon-svgrepo-com.svg);
}

.icon.sun{
    mask-image:url(./icons/sun-2-svgrepo-com.svg);
}

.icon.time{
    mask-image:url(./icons/time-sand-svgrepo-com.svg);
}

.toggle.menu {
    mask-image: url(./icons/menu-svgrepo-com.svg);
}

/* Quiz Option design */
.sidebar.close ~ .mainforquiz{
    width: calc(100% - 88px);
    margin-left: 88px;
}

.mainforquiz{
    min-height: 100vh;
    width: calc(100% - 250px);
    margin-left: 250px;
    background: var(--body-color);
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: var(--tran-05);
}

.config-container{
    padding: 25px;
    width: 415px;
    text-align: center;
    background: var(--quiz-container-color);
    border-radius: 8px;
    transition: var(--tran-05);
    display: block;
}

.config-container .config-text{
    font-size: 1.31rem;
    color: var(--main-text-color);
}

.config-container .setting{
    margin-top: 15px;
    color: var(--main-text-color);
}

.config-container label{
    color: var(--main-text-color);
}

.config-container button.active{
    background-color: var(--quiz-bar-color);
}

.num-question{
    padding: 20px;
}

.num-question .question_optionNum{
    padding: 15px;
    font-size: 15px;
    font-weight: 200;
    background: var(--quiz-container-color);
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--quiz-bar-color);
    color: var(--main-text-color);
}

.start-quiz-btn{
    padding: 12px;
    font-size: 0.938rem;
    font-weight: 200;
    background: var(--quiz-container-color);
    border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--quiz-bar-color);
    color: var(--main-text-color);
}

.time-line .chosen-time{
    padding: 15px;
    font-size: 15px;
    font-weight: 200;
    background: var(--quiz-container-color);
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--quiz-bar-color);
    color: var(--main-text-color);
}

/* do the quiz */
.icon.timer{
    mask-image:url(./icons/time-svgrepo-com.svg);
}

.quiz-container{
    background: var(--quiz-container-color);
    border-radius: 8px;
    max-width: 480px;
    display: none;
}

.quiz-container .quiz-header{
    display: flex;
    align-items: center;
    padding: 14px 25px;
    justify-content: space-between;
}

.quiz-container .quiz-title{
    font-size: 1.43rem;
    font-weight: 600;
    color: var(--main-text-color);
}

.quiz-header .quiz-timer{
    display: flex;
    width: 70px;
    padding: 7px 9px;
    align-items: center;
    color: var(--quiz-timer-color);
    border-radius: 6px;
    transition: var(--tran-03);
}

.quiz-content .question-text{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-text-color);
}

.quiz-container .quiz-content{
    padding: 20px 25px 25px;
}

.quiz-content .answer-options{
    list-style: none;
    margin-top: 20px;
}

.quiz-content .question-text{
    font-size: 1.5rem;
    font-weight: 500;
    flex-direction: column;
    gap:15px;
}

.quiz-content .answer-options{
    padding: 13px 16px;
    background: var(--quiz-container-color);
    border-radius: 6px;
    font-weight: 400;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid var(--quiz-bar-color);
    transition: var(--tran-03);
    color: var(--main-text-color);
}

.answer-options .correct{
    color: rgb(124,252,0);
    background: #AFE1AF;
}

.question-text .correct{
    color: black;
}

.answer-options .incorrect{
    color: #D22B2B;
    background: #CD5C5C;
}

.question-text .incorrect{
    color: black;
}

.quiz-timer .icon{
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.quiz-timer .icon.timer{
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    mask-image: url('./icons/time-svgrepo-com.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.start-quiz-btn :hover,
.quiz-content .answer-options :hover,
.num-question .question_optionNum:hover,
.time-line .chosen-time:hover{
    background: var(--sidebar-color);
}

.quiz-container .question-footer{
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: var(--main-text-color);
}

.question-footer .next-question-btn{
    font-size: 0.938rem;
    font-weight: 200;
    background: var(--quiz-bar-color);
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--quiz-bar-color);
    display: inline-flex;
    gap: 5px;
    visibility: hidden;
    align-items: center;
    padding: 9px 15px;
}

.question-footer .question-status{
    font-weight: 600;
    color: var(--quiz-text-color);
}

.question-footer .question-status b{
    font-weight: 500;
    color: var(--quiz-text-color);
}

/* show result */
.result-container{
    text-align: center;
    padding: 40px;
    width: 410px;
    background: var(--quiz-container-color);
    border-radius: 8px;
    display: none;
}

.result-container .show-message{
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 15px;
    color: var(--main-text-color);
}

.result-container .show-message b{
    font-weight: 700;
    color: var(--main-text-color);
}

.result-container .try-again-btn{
    padding: 12px 20px;
    margin-top: 30px;
    background: var(--quiz-bar-color);
    border-radius: 3px;
    border: 1px solid var(--quiz-bar-color);
}

@media (max-width:340px){
    .config-container,
    .quiz-container .quiz-content{
        padding: 7px;
    }

    .quiz-content .answer-options{
        padding: 7px 5px 7px 9px;
    }
    
    .config-container .answer-options{
        padding: 0 8px;
    }

    .quiz-container .quiz-header,.quiz-container .question-footer{
        padding: 8px 15px;
    }

    .quiz-header .quiz-title, .quiz-content .question-text{
        font-size: 0.75rem;
    }

    .result-container{
        padding: 25px 5px;
    }

    .result-container .result-title{
        font-size: 0.75rem;
    }
}

@media (max-width:624px){
    .config-container,
    .quiz-container .quiz-content{
        padding: 10px;
    }

    .quiz-content .answer-options{
        padding: 8px 6px 8px 10px;
    }
    
    .config-container .answer-options{
        padding: 0 10px;
    }

    .quiz-container .quiz-header,.quiz-container .question-footer{
        padding: 10px 25px;
    }

    .quiz-header .quiz-title, .quiz-content .question-text{
        font-size: 1rem;
    }

    .result-container{
        padding: 30px 10px;
    }

    .result-container .result-title{
        font-size: 1rem;
    }
}