* {
    font-family: 'sans-serif';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    /* Color for body and nav bar */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --housebar-color:#695CFE;
    --text-color: #707070;
    --main-text-color: #000000;
    --main-lead-color: #000000;
    --second-body-color: #f4f9f9;
    --quiz-timer-color: #F5F5F5;
    --quiz-bar-color: #B7A7FF;
    --quiz-container-color: #F5F5F5;

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    background: var(--body-color);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: var(--tran-05);
}

/* Auto change to dark */
body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --housebar-color:#FFF;
    --text-color: #CCC;
    --main-text-color: #E4E5EB;
    --main-lead-color: #E4E5EB;
    --second-body-color: #303030;
    --quiz-timer-color: #0000;
    --quiz-bar-color: #9B8CFF;
    --quiz-container-color: #141414;
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar header{
    position: relative;
}

.sidebar.close{
    width: 88px;
}

.sidebar span{
    font-size: 25px;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar header .text .header-textside{
    display: flex;
    align-items: center;
}

header .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .tieude1{
    font-weight: 600;
}

.header-text .tieude2{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    mask-image: url(./icons/menu-svgrepo-com.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    height: 35px;
    width: 35px;
    background: var(--housebar-color);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar li .icon{
    min-width: 60px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li .icon,
.menu-bar .mode .icon {
    width: 40px;
    height: 40px;
    background-color: var(--text-color);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: var(--tran-02);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon{
    background: var(--sidebar-color);
}

.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon{
    background: var(--text-color);
}

body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .icon{
    position: absolute;
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode .sun{
    opacity: 0;
}

body.dark .menu-bar .mode .sun{
    opacity: 1;
}

body.dark .menu-bar .mode .moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 25px;
}

.icon.house{
    mask-image:url(./icons/home-4-svgrepo-com.svg);
}

.icon.trophy{
    mask-image:url(./icons/trophy-svgrepo-com.svg);
}

.icon.book{
    mask-image:url(./icons/book-svgrepo-com.svg);
}

.icon.moon{
    mask-image:url(./icons/moon-svgrepo-com.svg);
}

.icon.sun{
    mask-image:url(./icons/sun-2-svgrepo-com.svg);
}

.icon.time{
    mask-image:url(./icons/time-sand-svgrepo-com.svg);
}

.toggle.menu {
    mask-image: url(./icons/menu-svgrepo-com.svg);
}

/* timeline for quick learn */
.sidebar.close ~ .mainfortimeline{
    width: calc(100% - 88px);
    margin-left: 88px;
}

.mainfortimeline{
    min-height: 100vh;
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    background: url(./images/pexels-foodoncam-58597.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
    color: #ffff;
    z-index: 1;
    padding: 2em;
}

.mainfortimeline::before{
    content: '';
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
}

.mainfortimeline h1{
    margin: 0.3rem;
    font-size: 3em;
    position: relative;
    z-index: 2;
}

.mainfortimeline h2{
    margin: 0.5rem;
    position: relative;
    z-index: 2;
}

.mainfortimeline .title{
    text-align: center;
    position: relative;
    z-index: 2;
}

.timelinescroll{
    margin: 5em auto;
    max-width: 34.15em;
    position: relative;
    z-index: 2;
}

.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div{ 
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
}

.checkpoint p{
    line-height: 27px;
    color: #ccc;
}

.checkpoint:nth-child(odd){
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even){
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-16.8em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
    left: 0;
}

.checkpoint:nth-child(even)::before{
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #0d71fc;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius:50%;
}

.checkpoint:nth-child(odd) div::before{
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}

@media screen and (max-width:1150px){
    .timelinescroll{
        width: 80vw;
    }
    .timelinescroll .checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .timelinescroll .checkpoint::before{
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline .checkpoint div::before { 
        top: -0.5em;
        left: 50%;
        transform:translateX(-50%);
    }
}