* {
    font-family: 'sans-serif';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    /* Color for body and nav bar */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --housebar-color:#695CFE;
    --text-color: #707070;
    --main-text-color: #000000;
    --main-lead-color: #000000;
    --second-body-color: #f4f9f9;
    --quiz-timer-color: #F5F5F5;
    --quiz-bar-color: #B7A7FF;
    --quiz-container-color: #F5F5F5;

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    background: var(--body-color);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: var(--tran-05);
}

/* Auto change to dark */
body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --housebar-color:#FFF;
    --text-color: #CCC;
    --main-text-color: #E4E5EB;
    --main-lead-color: #E4E5EB;
    --second-body-color: #303030;
    --quiz-timer-color: #0000;
    --quiz-bar-color: #9B8CFF;
    --quiz-container-color: #141414;
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar header{
    position: relative;
}

.sidebar.close{
    width: 88px;
}

.sidebar span{
    font-size: 25px;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar header .text .header-textside{
    display: flex;
    align-items: center;
}

header .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .tieude1{
    font-weight: 600;
}

.header-text .tieude2{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    mask-image: url(./icons/menu-svgrepo-com.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    height: 35px;
    width: 35px;
    background: var(--housebar-color);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar li .icon{
    min-width: 60px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li .icon,
.menu-bar .mode .icon {
    width: 40px;
    height: 40px;
    background-color: var(--text-color);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: var(--tran-02);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon{
    background: var(--sidebar-color);
}

.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon{
    background: var(--text-color);
}

body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .icon{
    position: absolute;
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode .sun{
    opacity: 0;
}

body.dark .menu-bar .mode .sun{
    opacity: 1;
}

body.dark .menu-bar .mode .moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 25px;
}

.icon.house{
    mask-image:url(./icons/home-4-svgrepo-com.svg);
}

.icon.trophy{
    mask-image:url(./icons/trophy-svgrepo-com.svg);
}

.icon.book{
    mask-image:url(./icons/book-svgrepo-com.svg);
}

.icon.moon{
    mask-image:url(./icons/moon-svgrepo-com.svg);
}

.icon.sun{
    mask-image:url(./icons/sun-2-svgrepo-com.svg);
}

.icon.time{
    mask-image:url(./icons/time-sand-svgrepo-com.svg);
}

.toggle.menu {
    mask-image: url(./icons/menu-svgrepo-com.svg);
}

/* Homepage */
.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-03);
    background: var(--body-color);
}

.home .hometext{
    font-size: 35px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar.close ~ .home{
    width: calc(100% - 88px);
    left: 88px;
}

/* Cards inside the homepage */
.container{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    background: var(--body-color);
    transition: var(--tran-03);
}

.container h3{
    color: var(--main-text-color);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.card__container{
    display: grid;
    row-gap: 3.5rem;
}

.card__article{
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: var(--tran-04);
}

.card__img{
    width: 328px;
    height: 375px;
    border-radius: 1.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    transition: var(--tran-04);
}

.card__data{
    width: 280px;
    background-color: var(--sidebar-color);
    color: var(--main-text-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.015);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s, transform var(--tran-04);
}

.card__data a{
    color: var(--main-text-color);
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.card__description{
    display: block;
    color: var(--main-text-color);
    font-size: 1.5rem;
    margin-bottom: .25rem;
    transition: var(--tran-03);
}

.card__timeline{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: .75rem;
    transition: var(--tran-03);
}

.card__button{
    font-size: 0.75rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
}

.card__button:hover{
    text-decoration: underline;
}

/* Animation for cards */
.card__article:hover .card__data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover{
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data{
    animation: remove-data 1s forwards;
}

@keyframes show-data{
    50%{transform: translateY(-10rem);}
    100%{ transform: translateY(-7rem);}
}
@keyframes remove-overflow{
    to {overflow: initial;}
}

@keyframes remove-data{
    0%{transform: translateY(-7rem);}
    50%{transform: translateY(-10rem);}
    100%{ transform: translateY(.5rem);}
}

@keyframes show-overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

/* Responsive */
@media screen and (min-width:340px){
    .container{
        margin-inline: 1rem;
    }
    .container h3{
        font-size: 30px;
    }
    .card__data a{
        font-size: 10px;
    }
    .card__data{
        width: 250px;
        padding: 1rem;
    }
}
@media screen and (min-width:768px){
    .card__container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

@media screen and (min-width: 1120px){
    .container{
        height: 100vh;
    }

    .card__container{
        grid-template-columns: repeat(3, 1fr);
    }

    .container h3{
        font-size: 40px;
    }
    .card__img{
        width: 348px;
    }
    .card__data a{
        font-size: 15px;
    }
    .card__data{
        width: 316px;
        padding-inline:2.5rem;
    }
}

/* Templates inside the timeline websites */
@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-Regular.ttf');
}

.pop{
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.containermain{
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 1120px;
}

.sidebar.close ~ .main{
    width: calc(100% - 88px);
    margin-left: 88px;
}

.main{
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}

#hero{
    background-image: url(./images/feudal_vn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 450px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    overflow: hidden;
    transition: var(--tran-05);
}

#hero2{
    background-image: url(./images/helicoptervnwar.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 450px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    overflow: hidden;
    transition: var(--tran-05);
}

#hero3{
    background-image: url(./images/pexels-qhung999-2965773.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 450px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    overflow: hidden;
    transition: var(--tran-05);
}

.hero_inner{
    z-index: 2;
    color: #FFD700;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

@media only screen and (max-width:768px){
    #hero{
        height: 300px;
    }
    .hero_inner{
        font-size: 30px;
    }
    #hero2{
        height: 300px;
    }
    #hero3{
        height: 300px;
    }
    
    .title{
      font-size: 10px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    #prehistoric{
        margin-bottom: 60px;
    }
    #prehistoric h3{
        font-size: 25px;
        margin-bottom: 30px;
    }
    #prehistoric .text{
        font-size: 25px;
        line-height: 1;
    }

    #prehistoric .flex{
        flex-direction: column-reverse;
    }

    .col-2{
        width: 100%;
    }

    .prehistoric-img{
        height: 200px;
        width: 100%;
    }
    .august-img{
        height: 200px;
        width: 100%;
    }
    .tactic-img{
        height: 200px;
        width: 100%;
    }

    .multi_holder h3{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .multi_holder .row{
        flex-direction: column;
    }
    .multi_holder .text{
        text-align: left;
        line-height: 1.3;
        font-size: 15px;
    }
    .multi_holder .row.reverse{
        flex-direction: column !important;
    }
    .multi_holder .col:first-child{
        width: 100% !important;
        height: 300px;
    }
    .multi_holder .col:last-child{
        width: 100%;
    }

    .upper_image .imgbox{
        text-align: center;
        display: flex;
        width: 100%;
        margin: 0 auto;
        position: relative;
        max-width: 1120px;
    }
    .upper_image .imgbox img{
        width: 100%;
    }
    .upper_image .text{
        text-align: left;
        font-size: 16px !important;
        line-height: 1.3;
    }

    .upper_image .lead{
        text-align: center;
        font-size: 16px !important;
        margin-bottom: 30px;
        line-height: 1.3;
    }

    .fourthholder{
        margin: 0 auto;
        padding: 30px 0;
        margin-bottom: 80px;
    }

    .fourthholder .textandimgholder{
        margin-left: 0;
        width: 100% !important;
    }

    .fourthholder .col-2{
        width: 100%;
    }

    .fourthholder .flex{
        flex-direction: column-reverse;
    }

    .fourthholder h3{
        font-size: 18px;
        margin-bottom: 30px;
    }

    .fourthholder h2 span{
        border-bottom: 3px solid red;
    }

    .fourthholder .text{
        font-size: 15px;
        line-height: 1;
    }

    .french-img-img{
        height: 200px;
        width: 100%;
    }
    .indochina-img{
        height: 200px;
        width: 100%;
    }
    .map-img{
        height: 300px;
        width: 100%;
    }
}

#prehistoric{
    margin-bottom: 120px;
}

.title{
    font-size: 30px;
    font-weight: 500;
    color: red;
    margin-bottom: 20px;
}

#prehistoric h3{
    color: var(--main-text-color);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.col-2{
    width: 48%;
}

#prehistoric .text{
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 2;
}

.august-img{
    background-image: url(./images/august_revolution.png);
    background-position: center;
    background-size: cover;
    height: 450px;
    border-radius: 15px;
}

.prehistoric-img{
    background-image: url(./images/prehistoric.png);
    background-position: center;
    background-size: cover;
    height: 450px;
    border-radius: 15px;
}

.containermain h2 span{
    border-bottom: 5px solid red;
}

.multi_holder .lead{
    color: var(--main-lead-color);
    text-align: center;
    line-height: 1.8;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}

.multi_holder{
    padding: 64px 0;
    background-color: var(--second-body-color);
}

.multi_holder .containermain{
    margin-bottom: 30px;
}

.multi_holder .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.multi_holder .col:first-child{
    width: 50%;
    background-size: cover;
    background-position: center;
    height: 550px;   
}

.multi_holder .col:last-child{
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
}

.multi_holder .col.vanlang{
    background-image: url(./images/vanlang.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.mapcambodiawar{
    background-image: url(./images/mapofcambodia_vn_war.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.map1979war{
    background-image: url(./images/mapof1979.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.haibatrung_revolution{
    background-image: url(./images/trungrevolution.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.indochina1950{
    background-image: url(./images/indochina.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.lady_trieu{
    background-image: url(./images/lady_trieu.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.van_xuan{
    background-image: url(./images/vanxuan.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.autonomus_era{
    background-image: url(./images/image.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.aircraft{
    background-image: url(./images/USS_Belleau_Wood.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.nanyue{
    background-image: url(./images/nanyue.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.dienbienphu{
    background-image: url(./images/dien_bien_phu.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--main-text-color);
}

.multi_holder .text{
    color: var(--main-text-color);
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
}

.multi_holder .row.reverse{
    flex-direction: row-reverse;
}

.upper_image{
    padding: 64px 0;
}

.upper_image .imgbox{
    text-align: center;
}

.upper_image .text_holder{
    align-items: center;
    display: flex;
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 1120px;
}

.upper_image .imgbox img{
    max-width: 800px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.upper_image .text{
    color: var(--main-text-color);
    text-align: left;
    font-size: 23px;
    line-height: 1.8;
}


.upper_image .lead{
    color: var(--main-text-color);
    text-align: center;
    line-height: 1.8;
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.fourthholder{
    margin: 0 auto;
    padding: 64px 0;
    width: 100%;
    margin-bottom: 120px;
    background-color: var(--second-body-color);
}

.fourthholder .textandimgholder{
    margin: 0 auto;
    width: 85%;
}

.fourthholder .flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.fourthholder h3{
    color: var(--main-text-color);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.fourthholder h2 span{
    color: red;
    border-bottom: 5px solid red;
}

.fourthholder .text{
    color: var(--main-text-color);
    font-size: 20px;
    line-height: 2;
}

.french-img{
    background-image: url(./images/french_invasion.png);
    background-position: center;
    background-size: cover;
    height: 550px;
    border-radius: 15px;
}

.indochina-img{
    background-image: url(./images/indochina.png);
    background-position: center;
    background-size: cover;
    height: 900px;
    border-radius: 15px;
}

.map-img{
    background-image: url(./images/map.png);
    background-position: center;
    background-size: cover;
    height: 550px;
    border-radius: 15px;
}

.fourthholder .flex.reverse{
    flex-direction:row-reverse;
}

/* Quiz Option design */
.sidebar.close ~ .mainforquiz{
    width: calc(100% - 88px);
    margin-left: 88px;
}

.mainforquiz{
    min-height: 100vh;
    background: var(--body-color);
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.config-container{
    padding: 25px;
    width: 415px;
    text-align: center;
    background: var(--quiz-container-color);
    border-radius: 8px;
    transition: var(--tran-05);
    display: block;
}

.config-container .config-text{
    font-size: 1.31rem;
    color: var(--main-text-color);
}

.config-container .setting{
    margin-top: 15px;
    color: var(--main-text-color);
}

.config-container label{
    color: var(--main-text-color);
}

.config-container button.active{
    background-color: var(--quiz-bar-color);
}

.num-question{
    padding: 20px;
}

.num-question .question_optionNum{
    padding: 15px;
    font-size: 15px;
    font-weight: 200;
    background: var(--quiz-container-color);
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--quiz-bar-color);
    color: var(--main-text-color);
}

.start-quiz-btn{
    padding: 12px;
    font-size: 0.938rem;
    font-weight: 200;
    background: var(--quiz-container-color);
    border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--quiz-bar-color);
    color: var(--main-text-color);
}

.time-line .chosen-time{
    padding: 15px;
    font-size: 15px;
    font-weight: 200;
    background: var(--quiz-container-color);
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--quiz-bar-color);
    color: var(--main-text-color);
}

/* do the quiz */
.icon.timer{
    mask-image:url(./icons/time-svgrepo-com.svg);
}

.quiz-container{
    background: var(--quiz-container-color);
    border-radius: 8px;
    width: 480px;
    display: none;
}

.quiz-container .quiz-header{
    display: flex;
    align-items: center;
    padding: 14px 25px;
    justify-content: center;
}

.quiz-container .quiz-title{
    font-size: 1.43rem;
    font-weight: 600;
    color: var(--main-text-color);
}

.quiz-header .quiz-timer{
    display: flex;
    width: 70px;
    padding: 7px 9px;
    align-items: center;
    color: var(--quiz-timer-color);
    border-radius: 6px;
    transition: var(--tran-03);
}

.quiz-content .question-text{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-text-color);
}

.quiz-container .quiz-content{
    padding: 20px 25px 25px;
}

.quiz-content .answer-options{
    list-style: none;
    margin-top: 20px;
}

.quiz-content .question-text{
    font-size: 1.5rem;
    font-weight: 500;
    flex-direction: column;
    gap:15px;
}

.quiz-content .answer-options{
    padding: 13px 16px;
    background: var(--quiz-container-color);
    border-radius: 6px;
    font-weight: 400;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid var(--quiz-bar-color);
    transition: var(--tran-03);
    color: var(--main-text-color);
}

.answer-options .correct{
    color: rgb(124,252,0);
    background: #AFE1AF;
}

.question-text .correct{
    color: black;
}

.answer-options .incorrect{
    color: #D22B2B;
    background: #CD5C5C;
}

.question-text .incorrect{
    color: black;
}

.quiz-timer .icon{
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.quiz-timer .icon.timer{
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    mask-image: url('./icons/time-svgrepo-com.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.start-quiz-btn :hover,
.quiz-content .answer-options :hover,
.num-question .question_optionNum:hover,
.time-line .chosen-time:hover{
    background: var(--sidebar-color);
}

.quiz-container .question-footer{
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: var(--main-text-color);
}

.question-footer .next-question-btn{
    font-size: 0.938rem;
    font-weight: 200;
    background: var(--quiz-bar-color);
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--quiz-bar-color);
    display: inline-flex;
    gap: 5px;
    visibility: hidden;
    align-items: center;
    padding: 9px 15px;
}

.question-footer .question-status{
    font-weight: 600;
    color: var(--quiz-text-color);
}

.question-footer .question-status b{
    font-weight: 500;
    color: var(--quiz-text-color);
}

/* show result */
.result-container{
    text-align: center;
    padding: 40px;
    width: 410px;
    background: var(--quiz-container-color);
    border-radius: 8px;
    display: none;
}

.result-container .show-message{
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 15px;
    color: var(--main-text-color);
}

.result-container .show-message b{
    font-weight: 700;
    color: var(--main-text-color);
}

.result-container .try-again-btn{
    padding: 12px 20px;
    margin-top: 30px;
    background: var(--quiz-bar-color);
    border-radius: 3px;
    border: 1px solid var(--quiz-bar-color);
}

@media (max-width:340px){
    .config-container,
    .quiz-container .quiz-content{
        padding: 10px;
    }

    .quiz-content .answer-options{
        padding: 10px 8px 10px 12px;
    }
    
    .config-container .answer-options{
        padding: 0 13px;
    }

    .quiz-container .quiz-header,.quiz-container .question-footer{
        padding: 10px 17px;
    }

    .quiz-header .quiz-title, .quiz-content .question-text{
        font-size: 1.0rem;
    }

    .result-container{
        padding: 30px 10px;
    }

    .result-container .result-title{
        font-size: 1rem;
    }
}

@media (max-width:624px){
    .config-container,
    .quiz-container .quiz-content{
        padding: 20px;
    }

    .quiz-content .answer-options{
        padding: 12px 10px 12px 14px;
    }
    
    .config-container .answer-options{
        padding: 0 15px;
    }

    .quiz-container .quiz-header,.quiz-container .question-footer{
        padding: 13px 20px;
    }

    .quiz-header .quiz-title, .quiz-content .question-text{
        font-size: 1.3rem;
    }

    .result-container{
        padding: 40px 20px;
    }

    .result-container .result-title{
        font-size: 1.4rem;
    }
}

/* timeline for quick learn */
.sidebar.close ~ .mainfortimeline{
    width: calc(100% - 88px);
    margin-left: 88px;
}

.mainfortimeline{
    min-height: 100vh;
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    background: url(./images/pexels-foodoncam-58597.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
    color: #ffff;
    z-index: 1;
    padding: 2em;
}

.mainfortimeline::before{
    content: '';
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
}

.mainfortimeline h1{
    margin: 0.3rem;
    font-size: 3em;
    position: relative;
    z-index: 2;
}

.mainfortimeline h2{
    margin: 0.5rem;
    position: relative;
    z-index: 2;
}

.mainfortimeline .title{
    text-align: center;
    position: relative;
    z-index: 2;
}

.timelinescroll{
    margin: 5em auto;
    max-width: 34.15em;
    position: relative;
    z-index: 2;
}

.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div{ 
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
}

.checkpoint p{
    line-height: 27px;
    color: #ccc;
}

.checkpoint:nth-child(odd){
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even){
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-16.8em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
    left: 0;
}

.checkpoint:nth-child(even)::before{
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #0d71fc;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius:50%;
}

.checkpoint:nth-child(odd) div::before{
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}

@media screen and (max-width:1150px){
    .timelinescroll{
        width: 80vw;
    }
    .timelinescroll .checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .timelinescroll .checkpoint::before{
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline .checkpoint div::before { 
        top: -0.5em;
        left: 50%;
        transform:translateX(-50%);
    }
}

/* MAke book design for read more */
.sidebar.close ~ .main_readmore{
    width: calc(100% - 88px);
    margin-left: 88px;
}

.main_readmore{
    min-height: 100vh;
    margin-left: 250px;
    width: calc(100% - 250px);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--second-body-color) 50%, #4a1010 50%)
}

.main_readmore input{
    display: none;
}

.main_readmore img{
    width: 100%;
    height: 100%;
}

.bookdiv{
    display: flex;
}

#cover{
    width: 500px;
    height: 550px;
}

.flip-book{
    width: 500px;
    height: 550px;
    position: relative;
    perspective: 1500px;
}

.flip{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: var(--tran-05);
    color:#000;
}

.main_readmore p{
    font-size: 14px;
    line-height: 24px;
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 0 13px;
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    transform: rotateY(180deg);
    top: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: #0000;
}

.next-btn-readmore{
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #000;
}

.back-btn-readmore{
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color:#fff;
}

#p1{
    z-index: 3;
}

#p2{
    z-index: 2;
}

#p3{
    z-index: 1;
}

#p3 p{
    font-size: 12px;
}

#c1:checked ~ .flip-book #p1{
    transform: rotateY(-180deg);
    z-index: 1;
}

#c2:checked ~ .flip-book #p2{
    transform: rotateY(-180deg);
    z-index: 2;
}

#c3:checked ~ .flip-book #p3{
    transform: rotateY(-180deg);
    z-index: 3;
}

@media (max-width:624px){
    #cover{
        width: 300px;
        height: 350px;
    }

    .flip-book{
        width: 300px;
        height: 350px;
        perspective: 1000px;
    }
    .front{
        padding: 0 8px;
        width: 300px;
        height: 350px;
    }

    .next-btn-readmore{
        bottom: 10px;
        right: 10px;
    }

    .back-btn-readmore{
        bottom: 10px;
        right: 10px;
    }

    #p3 p{
        font-size: 8px;
    }
}