* {
    font-family: 'sans-serif';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    /* Color for body and nav bar */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --housebar-color:#695CFE;
    --text-color: #707070;
    --main-text-color: #000000;
    --main-lead-color: #000000;
    --second-body-color: #f4f9f9;

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    background: var(--body-color);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: var(--tran-05);
}

/* Auto change to dark */
body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --housebar-color:#FFF;
    --text-color: #CCC;
    --main-text-color: #E4E5EB;
    --main-lead-color: #E4E5EB;
    --second-body-color: #303030;
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar header{
    position: relative;
}

.sidebar.close{
    width: 88px;
}

.sidebar span{
    font-size: 25px;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar header .text .header-textside{
    display: flex;
    align-items: center;
}

header .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .tieude1{
    font-weight: 600;
}

.header-text .tieude2{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    -webkit-mask-image: url(./icons/menu-svgrepo-com.svg);
    mask-image: url(./icons/menu-svgrepo-com.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    height: 35px;
    width: 35px;
    background: var(--housebar-color);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar li .icon{
    min-width: 60px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li .icon,
.menu-bar .mode .icon {
    width: 40px;
    height: 40px;
    background-color: var(--text-color);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: var(--tran-02);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon{
    background: var(--sidebar-color);
}

.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon{
    background: var(--text-color);
}

body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .icon{
    position: absolute;
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode .sun{
    opacity: 0;
}

body.dark .menu-bar .mode .sun{
    opacity: 1;
}

body.dark .menu-bar .mode .moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 25px;
}

.icon.house{
    mask-image:url(./icons/home-4-svgrepo-com.svg);
}

.icon.trophy{
    mask-image:url(./icons/trophy-svgrepo-com.svg);
}

.icon.book{
    mask-image:url(./icons/book-svgrepo-com.svg);
}

.icon.moon{
    mask-image:url(./icons/moon-svgrepo-com.svg);
}

.icon.sun{
    mask-image:url(./icons/sun-2-svgrepo-com.svg);
}

.toggle.menu {
    mask-image: url(./icons/menu-svgrepo-com.svg);
}

/* Homepage */
.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-03);
    background: var(--body-color);
}

.home .hometext{
    font-size: 35px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar.close ~ .home{
    width: calc(100% - 88px);
    left: 88px;
}

/* Cards inside the homepage */
.container{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    background: var(--body-color);
    transition: var(--tran-03);
}

.container h3{
    color: var(--main-text-color);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.card__container{
    display: grid;
    row-gap: 3.5rem;
}

.card__article{
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: var(--tran-04);
}

.card__img{
    width: 328px;
    height: 375px;
    border-radius: 1.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    transition: var(--tran-04);
}

.card__data{
    width: 280px;
    background-color: var(--sidebar-color);
    color: var(--main-text-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.015);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s, transform var(--tran-04);
}

.card__data a{
    color: var(--main-text-color);
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.card__description{
    display: block;
    color: var(--main-text-color);
    font-size: 1.5rem;
    margin-bottom: .25rem;
    transition: var(--tran-03);
}

.card__timeline{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: .75rem;
    transition: var(--tran-03);
}

.card__button{
    font-size: 0.75rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
}

.card__button:hover{
    text-decoration: underline;
}

/* Animation for cards */
.card__article:hover .card__data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover{
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data{
    animation: remove-data 1s forwards;
}

@keyframes show-data{
    50%{transform: translateY(-10rem);}
    100%{ transform: translateY(-7rem);}
}
@keyframes remove-overflow{
    to {overflow: initial;}
}

@keyframes remove-data{
    0%{transform: translateY(-7rem);}
    50%{transform: translateY(-10rem);}
    100%{ transform: translateY(.5rem);}
}

@keyframes show-overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

/* Responsive */
@media screen and (min-width:340px){
    .container{
        margin-inline: 1rem;
    }
    .container h3{
        font-size: 30px;
    }
    .card__data a{
        font-size: 10px;
    }
    .card__data{
        width: 250px;
        padding: 1rem;
    }
}
@media screen and (min-width:768px){
    .card__container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

@media screen and (min-width: 1120px){
    .container{
        height: 100vh;
    }

    .card__container{
        grid-template-columns: repeat(3, 1fr);
    }

    .container h3{
        font-size: 40px;
    }
    .card__img{
        width: 348px;
    }
    .card__data a{
        font-size: 15px;
    }
    .card__data{
        width: 316px;
        padding-inline:2.5rem;
    }
}

/* Templates inside the timeline websites */
@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-Regular.ttf');
}

.pop{
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.containermain{
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 1120px;
}

.sidebar.close ~ .main{
    width: calc(100% - 88px);
    margin-left: 88px;
}

.main{
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}

#hero{
    background-image: url(./images/feudal_vn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 450px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    overflow: hidden;
    transition: var(--tran-05);
}

.hero_inner{
    z-index: 2;
    color: #FFD700;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

@media only screen and (max-width:768px){
    #hero{
        height: 300px;
    }
    .hero_inner{
        font-size: 30px;
    }

    .title{
      font-size: 10px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    #prehistoric{
        margin-bottom: 60px;
    }
    #prehistoric h3{
        font-size: 25px;
        margin-bottom: 30px;
    }
    #prehistoric .text{
        font-size: 25px;
        line-height: 1;
    }

    #prehistoric .flex{
        flex-direction: column-reverse;
    }

    .col-2{
        width: 100%;
    }

    .prehistoric-img{
        height: 200px;
        width: 100%;
    }

    .multi_holder h3{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .multi_holder .row{
        flex-direction: column;
    }
    .multi_holder .text{
        text-align: left;
        line-height: 1.3;
        font-size: 15px;
    }
    .multi_holder .row.reverse{
        flex-direction: column !important;
    }
    .multi_holder .col:first-child{
        width: 100% !important;
        height: 300px;
    }
    .multi_holder .col:last-child{
        width: 100%;
    }

    .upper_image .imgbox{
        text-align: center;
        display: flex;
        width: 100%;
        margin: 0 auto;
        position: relative;
        max-width: 1120px;
    }
    .upper_image .imgbox img{
        width: 100%;
    }
    .upper_image .text{
        text-align: left;
        font-size: 16px !important;
        line-height: 1.3;
    }

    .upper_image .lead{
        text-align: center;
        font-size: 16px !important;
        margin-bottom: 30px;
        line-height: 1.3;
    }

    .fourthholder{
        margin: 0 auto;
        padding: 30px 0;
        margin-bottom: 80px;
    }

    .fourthholder .textandimgholder{
        margin-left: 0;
        width: 100% !important;
    }

    .fourthholder .col-2{
        width: 100%;
    }

    .fourthholder .flex{
        flex-direction: column-reverse;
    }

    .fourthholder h3{
        font-size: 18px;
        margin-bottom: 30px;
    }

    .fourthholder h2 span{
        border-bottom: 3px solid red;
    }

    .fourthholder .text{
        font-size: 15px;
        line-height: 1;
    }

    .french-img-img{
        height: 200px;
        width: 100%;
    }
    .indochina-img{
        height: 200px;
        width: 100%;
    }
    .map-img{
        height: 300px;
        width: 100%;
    }
}

#prehistoric{
    margin-bottom: 120px;
}

.title{
    font-size: 30px;
    font-weight: 500;
    color: red;
    margin-bottom: 20px;
}

#prehistoric h3{
    color: var(--main-text-color);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.col-2{
    width: 48%;
}

#prehistoric .text{
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 2;
}

.prehistoric-img{
    background-image: url(./images/prehistoric.png);
    background-position: center;
    background-size: cover;
    height: 450px;
    border-radius: 15px;
}

.containermain h2 span{
    border-bottom: 5px solid red;
}

.multi_holder .lead{
    color: var(--main-lead-color);
    text-align: center;
    line-height: 1.8;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}

.multi_holder{
    padding: 64px 0;
    background-color: var(--second-body-color);
}

.multi_holder .containermain{
    margin-bottom: 30px;
}

.multi_holder .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.multi_holder .col:first-child{
    width: 50%;
    background-size: cover;
    background-position: center;
    height: 550px;   
}

.multi_holder .col:last-child{
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
}

.multi_holder .col.vanlang{
    background-image: url(./images/vanlang.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.haibatrung_revolution{
    background-image: url(./images/vanlang.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.lady_trieu{
    background-image: url(./images/lady_trieu.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.van_xuan{
    background-image: url(./images/vanxuan.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.autonomus_era{
    background-image: url(./images/image.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder .col.nanyue{
    background-image: url(./images/nanyue.png);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.multi_holder h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--main-text-color);
}

.multi_holder .text{
    color: var(--main-text-color);
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
}

.multi_holder .row.reverse{
    flex-direction: row-reverse;
}

.upper_image{
    padding: 64px 0;
}

.upper_image .imgbox{
    text-align: center;
}

.upper_image .text_holder{
    align-items: center;
    display: flex;
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 1120px;
}

.upper_image .imgbox img{
    max-width: 800px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.upper_image .text{
    color: var(--main-text-color);
    text-align: left;
    font-size: 23px;
    line-height: 1.8;
}


.upper_image .lead{
    color: var(--main-text-color);
    text-align: center;
    line-height: 1.8;
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.fourthholder{
    margin: 0 auto;
    padding: 64px 0;
    width: 100%;
    margin-bottom: 120px;
    background-color: var(--second-body-color);
}

.fourthholder .textandimgholder{
    margin: 0 auto;
    width: 85%;
}

.fourthholder .flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.fourthholder h3{
    color: var(--main-text-color);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.fourthholder h2 span{
    color: red;
    border-bottom: 5px solid red;
}

.fourthholder .text{
    color: var(--main-text-color);
    font-size: 20px;
    line-height: 2;
}

.french-img{
    background-image: url(./images/french_invasion.png);
    background-position: center;
    background-size: cover;
    height: 550px;
    border-radius: 15px;
}

.indochina-img{
    background-image: url(./images/indochina.png);
    background-position: center;
    background-size: cover;
    height: 900px;
    border-radius: 15px;
}

.map-img{
    background-image: url(./images/map.png);
    background-position: center;
    background-size: cover;
    height: 550px;
    border-radius: 15px;
}

.fourthholder .flex.reverse{
    flex-direction:row-reverse;
}